.bg_glow {
    background-color: #2379d5;
  }
  .bg_glow:hover {
    text-shadow: 0px 0px 5px #23a6d5, 0px 0px 30px #23a6d5, 0px 0px 90px #23a6d5, 0px 0px 120px #23a6d5;
  }
  .contain_max {
    max-width: 1450px;
    margin: auto;
  }