.Explore_our_leading {
    line-height: 50px;
  }

  .pfrm_red {
    text-shadow: 0px 0px 30px red;
  }

  .people_txt_glow {
    text-shadow: 0px 0px 30px rgb(2, 170, 236);
  }

  .discord_txt_glow {
    text-shadow: 0px 0px 30px purple;
  }

  .red_message_txt {
    text-shadow: 0px 0px 30px red;
  }